.jumbotron {
    margin: 0px;
    padding: 30px;
    background-image: linear-gradient(to right, rgb(176, 201, 255), rgb(142, 194, 255), rgb(0, 89, 255));
}
#headerLogo {
    width: 85px;
}

h1 {
    font-size: 40px;
}
h3 {
    font-size: 20px;
}

.footer {
    background-color: rgb(176, 201, 255);
    padding: 20px;
}

.dark-link {
    color: black;
}

.productPhoto {
    width: 200px;
}

.blue-button {
    color: black;
    background-color:white;
    border-color: black;
}
.blue-button:hover {
    color: black;
    background-color:rgb(176, 201, 255);
    border-color: black;
}
.smBlueButton {
    color: black;
    background-color:rgb(176, 201, 255);
    border-color: black;
}